<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Pokedex</title>
        <link rel="stylesheet" href="./assets/styles.css" />
        <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
        <script src="https://unpkg.com/pokeapi-js-wrapper/dist/index.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
          <div class="nav-bar">
              <img class="logo" src="./assets/International_Pokémon_logo.svg.png" alt="logo pokémon">
          </div>
            <div class="pokedex">
                <pokemon-search @s="updateDisplayToSearch" @d="updateDisplayToDefault"></pokemon-search>
                <div class="container">
                    <loading v-if="isLoading = 0"></loading>
                    <pokemon-display  @endLoad="updateLoading" v-if="!dispSearch"></pokemon-display>
                </div>
            </div>
            <footer class="footer">The best Pokedex of 1st génération Pokémons you'll ever find</footer>
        </div>
               

        <script src="./main.js"></script>
        
        <script src="./components/Loading.js"></script>
        <script src="./components/PokemonDisplay.js"></script>
        <script src="./components/PokemonSearch.js"></script>

        <script>
            const mountedApp = app.mount('#app')
        </script>
    </body>
</html>